html {
    background: #EEE;
}

* {
  text-align: left;
}

body {
    box-shadow: 0 0 1em 0 #AAA;
    background: #FFF;
    max-width: 42em;
    margin: 2em auto;
    padding: 2em;
    text-align: center;

    counter-reset: eqn;
}

p {
  line-height: 180%;
}
