a {
    color: #1166BB;
    text-decoration: none;
}

:focus {
    outline: none;
}

pre.code {
    word-wrap: break-word;
    word-break: break-all;
}

pre.pycon {
    white-space: pre-wrap;
}

code {
    background: #F0F0F0;
    border: 1px solid #CCCCCC;
    padding: 0.2em;
    margin: 0 0.2em;
}

blockquote {
    margin: 1em 0.5em;
    padding: 0 0.75em;
    border-left: 0.5em solid #CCCCCC;
}

blockquote p {
    margin: 0.2em 0;
    padding: 0;
}

div.info ul.tags {
    float: left;
    list-style: inside;
    margin: 0.5em 0;
    padding: 0;
    font-size: 0.7em;
}

div.info ul.tags li {
    float: left;
    position: relative;
    margin: 0 1em;
    padding: 0.4em 0.5em 0.4em 0;
    background: #889977;
    color: #FFFFFF;
    border-radius: 0 0.2em 0.2em 0;
}

div.info ul.tags li:before {
    content:"";
    border-style: solid;
    border-color: transparent #889977 transparent transparent;
    border-width: 1em 1em 1em 0;
    margin: 0;
    padding: 0;
    position: absolute;
    left: -1em;
    top: 0;
}

div.info ul.tags li a {
    color: #FFFFFF;
}

div.info div.clear {
    clear: both;
}

html, body {
    margin: 0;
    padding: 0;
}

html {
    background: #BBCCAA;
}

header {
    background: #FFFFFF;
    padding: 1em 0.75em 0em;
    border-bottom: 4px solid #AABB99;
}

header nav {
    margin: 0 auto;
    max-width: 50em;
    padding: 0 0 0.5em 0;
    list-style: none;
    vertical-align: bottom;
}

header nav li {
    display: inline;
    margin: 0 0.5em;
    padding: 0 0 0.5em 0;
    border-bottom: 4px solid transparent;
}

header nav li.selected {
    font-weight: bold;
    border-bottom: 4px solid #008000;
}

header nav li:hover:not(.selected) {
    border-bottom: 4px solid #BBCCAA;
}

header nav li a {
    color: #008000;
}

div.content {
    margin: 1em auto;
    max-width: 50em;
    background: #FFFFFF;
    border-radius: 0.25em;
    padding: 1em;
    border: 1px outset #AABB99;
}

div.content h1 {
    margin: 0;
    padding: 0;
}

div.content article {
    margin: 0.5em 0;
}

div.index article h1 a {
    color: #000000;
}

div.index hr {
    margin: 0.5em 0;
    border: 0;
    border-top: medium dotted #EEEEEE;
}

div.index div.paginator {
    text-align: center;
    padding: 0.5em 0 1em 0;
}

div.index div.paginator a.prev {
    float: left;
}

div.index div.paginator a.next {
    float: right;
}

div.archive a {
    display: block;
    margin: 0.5em;
}
